<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRUzJ-109_o2e9xr3GZFhuraZPC2favzY</string>
	<key>GCM_SENDER_ID</key>
	<string>709427293394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carryOrDrag</string>
	<key>PROJECT_ID</key>
	<string>carry-or-drag</string>
	<key>STORAGE_BUCKET</key>
	<string>carry-or-drag.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709427293394:ios:6d4bfb4cfdc4d1fd76d10b</string>
</dict>
</plist>